numpy
pandas
matplotlib
seaborn
joblib
scikit-learn
imbalanced-learn
lightgbm
pytorch-tabnet
boruta
scipy
statsmodels
tensorflow
dvc
mlflow
notebook
python-box
pyYAML
tqdm
ensure
types-PyYAML
Flask
Flask-Cors
gdown
optuna
xgboost
catboost
shap
pandas-profiling




-e .



