numpy
pandas
matplotlib
seaborn
joblib
scikit-learn
imbalanced-learn
lightgbm
pytorch-tabnet
boruta
scipy
statsmodels
tensorflow==2.12.0
dvc
mlflow==2.2.2
notebook
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
types-PyYAML
Flask
Flask-Cors
gdown





-e .



